<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body style="background-color: rgb(127, 214, 243);"> 
    <div style="display:flex;color:white;background-color: aquamarine;border-radius: 10px;">
        <h1 style="color:white;flex-basis:60%;margin:2%">SITENJOY</h1>
        <h1><a href="{{url_for('MyProfile')}}">Summary</a></h1>
        <h1><a href="{{url_for('index')}}">Logout</a></h1>
    </div>
    <form method="POST">
        <input type="hidden" name="venue_id" value="{{venue_id}}">
        <h1>Name of the venue - </h1><input type="text" name="name" value="{{name}}">
        <h1>Location of the venue - </h1><input type="text" name="place" value="{{place}}">
        <h1>Capacity of the venue - </h1><input type="integer" name="capacity" value="{{capacity}}">
        <input type="submit">
    </form>
</body>
</html>